<br />
<div ng-if="!model.user.followed.length"> No Followers </div>

<div class="row">
    <ul>
        <li class="col s12 m6" ng-repeat="following in model.user.followed"
            ng-controller="UserDetails as userModel" ng-init="userModel.userId=following; userModel.render()">
            <div class="card">
                <div class="card-image">
                    <img src="{{userModel.user.image}}">
                    <span class="card-title md-body-2">
                    <a ng-href="#/profile/{{userModel.user._id}}" class="blue-text md-title"
                       ng-bind="(userModel.user.firstName)+' '+(userModel.user.lastName)"></a>
                </span>
                </div>
                <div class="card-action" ng-if="model.currentUser._id == model.userId">
                    <a ng-click="model.removeFollower(following)">Remove</a>
                </div>
            </div>
        </li>
    </ul>
</div>