<br />
<div ng-if="!model.user.comments.length"> No Reviews </div>

<ul class="collapsible popout" data-collapsible="accordion" watch>
    <li class="list-group-item disabled">
        <div class="row">
            <div class="col s3">Date</div>
            <div class="col s5">Airport</div>
            <div class="col s4">Comment</div>
        </div>
    </li>
    <li ng-repeat="comment in model.user.comments.slice().reverse()" ng-controller="CommentsDetails as commentCon"
        ng-init="commentCon.comment=comment; commentCon.render()">
        <div class="collapsible-header byf-zoom">
            <div class="row">
                <div class="col s3 hidden-xs md-body-2" ng-bind="commentCon.commentDetails.commentDate |  date:'medium'"></div>
                <div class="col s5 md-body-2" ng-bind="commentCon.commentDetails.airportName"></div>
                <div class="col s4 hidden-xs md-body-2" ng-bind="commentCon.commentDetails.commentText.substring(0, 20)+ ' ...'"></div>
            </div>
        </div>

        <div class="collapsible-body byf-collap-body">
            <div class="row">
            <div class="col s12 md-headline"><a ng-bind="commentCon.commentDetails.airportName" ng-href="#/airport/{{commentCon.commentDetails.airportCode}}"></a></div>
                <blockquote class="col s12">
                    <div class="md-body-3" ng-bind="commentCon.commentDetails.commentText"></div>
                    <div class="md-caption" ng-bind="commentCon.commentDetails.commentDate |  date:'medium'"></div>
                </blockquote>
            <div class="col s12" ng-if="model.currentUser._id == model.userId || model.currentUser.role == 'ADMIN'">
                <a ng-click="model.deleteComment(comment)" class="btn red darken-4 pull-right">Delete</a>
            </div>
            </div>
        </div>
    </li>
</ul>

