<br />
<div class="alert alert-danger" ng-show="error">
    {{error}}
</div>

<div class="alert alert-success" ng-show="message">
    {{message}}
</div>

<br/>
<div class="container-fluid">

    <form action="/api/user/upload"  method="post" enctype="multipart/form-data">
        <input  name="uploadFile"    type="file" class="form-control"/>
        <input  name="userId"    value="{{model.userProfile.id}}"  style="display: none"/>
        <input  name="hwId"        value="{{model.hwId}}"   style="display: none"/>
        <input  name="courseId"        value="{{model.courseId}}"   style="display: none"/>
        <button type="submit"    class="btn btn-block blue">Upload Image</button>
    </form>
    <br/>

    <div class="center">
        <a ng-click="#" class="btn green">Submit</a>
    </div>
</div>

