<br />
<div class="alert alert-danger" ng-show="error">
    {{error}}
</div>

<div class="alert alert-success" ng-show="message">
    {{message}}
</div>

<br/>
<div class="container-fluid">

    <form action="/api/homework/uploadfile"  method="post" enctype="multipart/form-data">
        <input  name="file" type="file" class="form-control"/>
        <input  name="userId" value="{{model.userProfile.id}}" style="display: none"/>
        <input  name="hwId" value="{{model.hwId}}" style="display: none"/>
        <input  name="courseId" value="{{model.courseId}}" style="display: none"/>
        <button type="submit" class="btn btn-block blue">Upload File</button>
    </form>
    <br/>

    <h5>My Submissions</h5>

    <div ng-if="model.submissions.length == 0">
        No submissions
    </div>

    <div ng-repeat="submission in model.submissions" ng-if="model.submissions.length > 0">
        <br>
        Course: {{model.courseName}}
        <br>
        Assignment: {{model.homeWorkDescription}}
        <br>
        File: {{submission.fileName}}
        <br>
    </div>
</div>

