<br/>
<div class="container-fluid">
    <label for="first">First Name</label>
    <input ng-model="model.userProfile.firstName"
           id="first"
           class="form-control"
           placeholder="First Name"/>

    <label for="last">Last Name</label>
    <input ng-model="model.userProfile.lastName"
           id="last"
           class="form-control"
           placeholder="Last name"/>

    <label for="email">Email</label>
    <input ng-model="model.userProfile.email"
           id="email"
           type="email"
           class="form-control"
           placeholder="email@example.com"/>

    <label for="username">Username</label>
    <input ng-model="model.userProfile.username"
           id="username"
           class="form-control"
           placeholder="john123"/>

    <label for="password">Password</label>
    <input id="password"
           class="form-control"
           type="password"
           placeholder="password"/>

    <label for="password2">Validate Password</label>
    <input id="password2"
           class="form-control"
           type="password"
           placeholder="password"/>

    <form action="/api/user/upload"  method="post" enctype="multipart/form-data">
        <input  name="myFile"    type="file" class="form-control"/>
        <input  name="userId"    value="{{model.userProfile._id}}"  style="display: none"/>
        <input  name="url"        value="{{model.userProfile.image}}"   style="display: none"/>
        <button type="submit"    class="btn btn-block blue">Upload Image</button>
    </form>

    <br/>

    <div class="center">
        <a ng-click="model.update(model.userProfile)" class="btn green darken-1">Update</a>
        <a ng-click="model.logout()" class="btn red darken-5 ">Logout</a>
        <!--<a ng-click="model.unregisterUser(model.user)" class="btn red darken-4">Delete</a>-->
    </div>
</div>