<div ng-show="model.error" class="alert alert-danger" role="alert">
    {{model.error}}
</div>
<div class="alert alert-success" ng-show="model.message">
    {{model.message}}
</div>
<ul class="collection">
    <li class="collection-item avatar" ng-repeat="normalUser in model.allUsers">
        <div class="row">
            <div class="col s8 m8 l8">
                <a ng-href="#/user/{{normalUser._id}}" ><img src="{{normalUser.image}}" alt="" class="circle"></a>
                <a ng-href="#/user/{{normalUser._id}}" ><span class="wordwrap title md-title">{{normalUser.username}}</span></a>
                <p>{{normalUser.firstName}} {{normalUser.lastName}}</p>
            </div>
            <div class="col s4 m4 l4">
                <a class="pull-right" ng-click="model.deleteUser(normalUser._id)">
                    <i tooltipped class="material-icons" data-position="right" data-delay="50" data-tooltip="Delete">delete</i>
                </a>


                <a ng-if="normalUser.role != 'ADMIN'" ng-click="model.updateProfile(normalUser._id)" class="pull-right">
                    <i tooltipped data-position="left" data-delay="50" data-tooltip="Make Admin" class="material-icons">accessibility</i>
                </a>
            </div>
        </div>
    </li>
</ul>