<div ng-show="model.error" class="alert alert-danger" role="alert">
    {{model.error}}
</div>
<ul class="collapsible popout" data-collapsible="accordion" watch>
    <li class="list-group-item disabled">
        <div class="row">
            <div class="col s3">Date</div>
            <div class="col s5">User</div>
            <div class="col s4">Comment</div>
        </div>
    </li>
    <li ng-repeat="comment in model.allComments" ng-controller="AdminCommentsDetails as adminComment"
        ng-init="adminComment.comment=comment._id; adminComment.render()">
        <!--{{adminComment}}-->
        <div class="collapsible-header byf-zoom">
            <div class="row">
                <div class="col s3 hidden-xs md-body-2" ng-bind="adminComment.commentDetails.commentDate |  date:'medium'"></div>
                <div class="col s5 md-body-2"><a ng-bind="adminComment.commentDetails.user" ng-href="#/profile/{{adminComment.commentDetails.userId}}"></a></div>
                <div class="col s4 hidden-xs md-body-2" ng-bind="adminComment.commentDetails.commentText.substring(0, 20)+ ' ...'"></div>
            </div>
        </div>

        <div class="collapsible-body byf-collap-body">
            <div class="row">
                <div class="col s12 md-headline"><a ng-bind="adminComment.commentDetails.airportName" ng-href="#/airport/{{adminComment.commentDetails.airportCode}}"></a></div>
                <blockquote class="col s12">
                    <div class="md-body-3" ng-bind="adminComment.commentDetails.commentText"></div>
                    <div class="md-caption" ng-bind="adminComment.commentDetails.commentDate |  date:'medium'"></div>
                </blockquote>
                <div class="col s12" ng-if="model.currentUser._id == model.userId">
                    <a ng-click="model.deleteComment(comment)" class="btn red darken-4 pull-right">Delete</a>
                </div>
            </div>
        </div>
    </li>
</ul>