<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<br>
<div class="container" ng-controller="AdminController">

    <h5>Select two students</h5>

    <div class="form-group">
      <label>First Student</label>
      <select class="form-control" ng-model="first_student">
        <option ng-repeat="student in model.students" ng-value="student.id">
            {{student.userName}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Second Student</label>
      <select class="form-control" ng-model="second_student">
        <option ng-repeat="student in model.students" ng-if="student.id != first_student" ng-value="student.id">
            {{student.userName}}
        </option>
      </select>
    </div>

    <input type="button" value="Submit" ng-click="submitForm(first_student, second_student)">

    <div ng-show="result_ready">
    <h5>Results</h5>
        <h6>LCS Strategy : Similarity is {{lcs_similarity}}</h6>
    </div>
</div>