<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<br>
<div class="container">

    <h5>Select two students</h5>
    <div class="dropdown col-sm-3">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">First Student
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="">Student 1</a></li>
            <li><a href="">Student 2</a></li>
            <li><a href="">Student 3</a></li>
        </ul>
    </div>
    <div class="dropdown col-sm-6"></div>
    <div class="dropdown col-sm-3">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Second Student
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="">Student 1</a></li>
            <li><a href="">Student 2</a></li>
            <li><a href="">Student 3</a></li>
        </ul>
    </div>

    <br><br><br><br>
    <h5>Select assignment</h5>
    <div class="dropdown col-sm-3">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Assignment
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="">Assignment 1</a></li>
            <li><a href="">Assignment 2</a></li>
            <li><a href="">Assignment 3</a></li>
        </ul>
    </div>

    <br><br><br><br>
    <h5>Select two files</h5>
    <div class="dropdown col-sm-3">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">First File
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="">submission1.py</a></li>
            <li><a href="">submission2.py</a></li>
            <li><a href="">submission3.py</a></li>
        </ul>
    </div>
    <div class="dropdown col-sm-6"></div>
    <div class="dropdown col-sm-3">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Second File
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="">submission1.py</a></li>
            <li><a href="">submission2.py</a></li>
            <li><a href="">submission3.py</a></li>
        </ul>
    </div>

    <br><br><br><br>
    <h5>Results</h5>
    <h6>Strategy 1 : Similarity is 90%</h6>
    <h6>Strategy 2 : Similarity is 92%</h6>
    <h6>Strategy 3 : Similarity is 84%</h6>
    <h6>Strategy 4 : Similarity is 80%</h6>
</div>