.page-flexbox-wrapper {
display: flex;
min-height: 100vh;
flex-direction: column
}

main {
    flex: 1 0 auto;
}

.not-found{
    background-color: #6CBFB2;
    height: inherit;
    width: inherit;

}

.my-img{
    height: inherit;
    width: inherit;
}

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
    color: #e91e63;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
    border-bottom: 2px solid #e91e63;
    box-shadow: none;
}

.centered-form{
    margin-top: 60px;
}

.btn-lg.round {
    border-radius: 24px;
}

.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.my-panels{
    margin-top:5px!important;
    background: rgba(41, 237, 252, 0.9);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.my-shadow{
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.gap{
    padding-top: 20px;
}

#myCarousel {
    margin-top: 15px;
    margin-bottom: 30px;
}

.my-container{
    padding-top: 10px;
}

html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}
.wordwrap
{
    white-space: pre; /* CSS 2.0 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3.0 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    word-wrap: break-word; /* IE 5+ */
}
.zoom-effect-container:hover .image-card {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.marginRow{
    margin:1px !important;
    line-height: 2rem;
}

/*.collap{*/
    /*!*line-height: 2rem;*!*/
/*}*/

.timeline {
    position: relative;
}

.timeline .timeline-event {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}

.timeline .timeline-event .timeline-content {
    position: relative;
    width: calc(50% - 50px);
}

.timeline .timeline-event::before {
    display: block;
    content: "";
    width: 2px;
    height: calc(50% - 30px);
    position: absolute;
    background: #d2d2d2;
    left: calc(50% - 1px);
    top: 0;
}

.timeline .timeline-event::after {
    display: block;
    content: "";
    width: 2px;
    height: calc(50% - 30px);
    position: absolute;
    background: #d2d2d2;
    left: calc(50% - 1px);
    top: calc(50% + 30px);
}

.timeline .timeline-event:first-child::before {
    display: none;
}

.timeline .timeline-event:last-child::after {
    display: none;
}

.timeline .timeline-event:nth-child(even) .timeline-content {
    margin-left: calc(50% + 50px);
}

.timeline .timeline-event:nth-child(odd) .timeline-content {
    margin-left: 0;
}

.timeline .timeline-badge {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background: #d2d2d2;
    top: calc(50% - 20px);
    right: calc(50% - 20px);
    border-radius: 50%;
    text-align: center;
    cursor: default;
}

.timeline .timeline-badge i {
    font-size: 25px;
    line-height: 40px;
}

@media (max-width: 600px) {
    .timeline .timeline-event .timeline-content {
        width: calc(100% - 70px);
    }
    .timeline .timeline-event::before {
        left: 19px;
    }
    .timeline .timeline-event::after {
        left: 19px;
    }
    .timeline .timeline-event:nth-child(even) .timeline-content {
        margin-left: 70px;
    }
    .timeline .timeline-event:nth-child(odd) .timeline-content {
        margin-left: 70px;
    }
    .timeline .timeline-badge {
        left: 0;
    }
}

.byf-zoom:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.byf-zoom {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}
.byf-collap-body{
    padding: 1em;
}

.glyphicon.glyphicon-remove {
    font-size: 25px;
}


