<!--{{model.user}}-->
<div class="page-flexbox-wrapper">
    <header>
        <nav class="nav-wrapper blue lighten-2" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar white"></span>
                        <span class="icon-bar white"></span>
                        <span class="icon-bar white"></span>
                    </button>
                    <a class="brand-logo" ng-href="#/">PlagFinder</a>
                </div>
                <div class="collapse navbar-collapse pull-right" uib-collapse="!isNavCollapsed">
                    <div class="container-fluid blue lighten-2">
                        <ul class="nav navbar-nav">
                            <li ng-show="!model.user"><a href="#/login">Login</a></li>
                            <li ng-show="!model.user"><a href="#/register">Register</a></li>
                            <li ng-show="model.user"><a href="#/login">LogOut</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <hr>

    <main class="container">
        <div class="row">
            <div class="col-sm-10"><h1 ng-bind="(model.user.firstName)+' ' +(model.user.lastName)"></h1></div>
            <div class="col-sm-2"><img title="profile image" class="img-circle img-responsive" ng-src="{{model.user.image}}" alt="Profile Image" ></div>
        </div>
        <div class="row">
            <div class="col-sm-3"><!--left col-->
                <ng-include src="'views/user/user/templates/user.detail.view.client.html'"></ng-include>

                <div class="panel panel-default">
                    <div class="panel-heading">Social Media</div>
                    <div class="panel-body">
                        <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
                    </div>
                </div>


            </div><!--/col-3-->
            <div class="col-sm-9">
                <uib-tabset active="activeJustified" justified="true">
                    <uib-tab index="0" heading="HomeWorks">
                        <ng-include src="'views/user/admin/templates/tabs/all-users.admin.tabs.view.client.html'"></ng-include>
                    </uib-tab>

                    <uib-tab index="1" heading="Profile">
                        <ng-include src="'views/user/admin/templates/tabs/admin-profile.tabs.view.client.html'"></ng-include>
                    </uib-tab>

                </uib-tabset>

            </div>

        </div><!--/col-9-->
    </main><!--/row-->

    <footer class="page-footer blue lighten-2">
        <div class="footer-copyright">
            <div class="container-fluid">
                Made with <i class="glyphicon glyphicon-heart"></i> at Northeastern University
                <a class="grey-text text-lighten-4 right" ng-href="#">Team 207</a>
            </div>
        </div>
    </footer>

</div>
